<app-header></app-header>
<main class="p-4 sm:ml-64">
    <h1 class="text-center mt-5 font-bold text-2xl">Tablero de estatus de tus reportes</h1>
    <div class="overflow-x-auto mt-6">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-200">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Id
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Titulo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Estatus
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fecha
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Atendido
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let consult of consultaReports">
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {{ consult.id }} </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {{ consult.titulo }} </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {{ consult.estatus }} </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {{ consult.tipo }} </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> <p *ngIf="consult.atendido == '' || !consult.atendido; else notShow">Sin Atender</p>
                        <ng-template #notShow> <p> {{consult.atendido}} </p> </ng-template> </td>
                    <td class="px-6 py-4">
                        <a *ngIf="consult.estatus == 'Enviado'" class="text-center text-white font-bold cursor-pointer bg-red-600 w-full block rounded-sm mt-2">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
