
    <main class=" p-4 sm:ml-64">
        <img
          class="mb-4"
          src="./assets/logovwpozarica.png"
          alt=""
          width="650"
          height="200"
        />
        <h1 class="h3 mb-3 fw-normal">Login</h1>
  
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="numcontrol@itspozarica.edu.mx"
          />
          <label for="floatingInput">Correo</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Contraseña</label>
        </div>
  
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Inicia Sesion
        </button>
        <p>Olvido su contraseña: <a a routerLink="/recuperarcontraseña" class="link-primary">Recuperar contraseña</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; Braviki92821 2024</p>

    </main>

