<app-header-soporte></app-header-soporte>
<main class="p-4 sm:ml-64">
    <h1 class="text-center mt-5 font-bold text-2xl">Tablero de reportes</h1>
    <div class="overflow-x-auto mt-6">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-200">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Id
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Titulo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Enviado
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tipo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Prioridad
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let consult of consultReports">
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {{ consult.id }} </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {{ consult.titulo }} </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {{ consult.enviado }} </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {{ consult.tipo }} </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {{ consult.prioridad }} </td> 
                    <td class="px-6 py-4">
                        <input type="button" [attr.data-reportId]="consult.id" [attr.data-usuarioId]="consult.autor" (click)="takeReport($event)" class="text-white font-bold w-full text-center bg-green-500 cursor-pointer" value="Tomar Reporte">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
