<app-header-soporte></app-header-soporte>
<main class="p-4 sm:ml-64">
    <div class="mt-8 mx-auto max-w-screen-md">
        <h1 class="text-center mt-5 font-bold text-2xl">Perfil</h1>
        <form [formGroup]="profileForm" class="space-y-5">
            <div>
                <label class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="nombre"> Nombre </label>
                <input class="w-full px-3 py-2 border border-gray-600 rounded-md placeholder-gray-400" type="text" formControlName="nombre" name="nombre" [attr.disabled]="true">
            </div>
            <div>
                <label class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="correo"> Correo </label>
                <input class="w-full px-3 py-2 border border-gray-600 rounded-md placeholder-gray-400" type="text"formControlName="correo" name="correo" [attr.disabled]="true">
            </div>
            <div>
                <label class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="area"> Area </label>
                <input class="w-full px-3 py-2 border border-gray-600 rounded-md placeholder-gray-400" type="text" formControlName="area" name="area" [attr.disabled]="true">
            </div>
            <div>
                <label class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="tipo"> Tipo </label>
                <input class="w-full px-3 py-2 border border-gray-600 rounded-md placeholder-gray-400" type="text" formControlName="tipo" name="tipo" [attr.disabled]="true">
            </div>
        </form>
    </div>
</main>
